.App {
  text-align: center;
  background-color: #3498db;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}